/* Formulario inicio de sesion */
.formulario{
  /* Contenedor del formulario inicio de sesion */
  border: 2px var(--color-primario) solid;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.formulario__Iniciosesion{
  width: 300px;
  display: flex;
  flex-direction: column;

}
.form-Nuevo-registro{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.requerido{
  color: var(--color-secundario);
  font-size: 18px;
}
/* Contenedor Registrate */
.contenedor_registrate{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contenedor_registrate p{
  text-align: center;
}
/* Formulario Cambio Password */
#formulario-cambiar-contrasena {
  display: none;
  background-color: white;
}
#evaluacion-final {
  display: none;
  background-color: white;
}
/* Formulario Sube Proyectos */
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="tel"], 
input[type="password"], 
input[type="url"], 
input[type="number"], 
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  outline: none;
}
form textarea {
  outline: none;
  width: 100%;
  display: block;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
}
form textarea{
  font-family: inherit;
  resize: none;
  scrollbar-width: 0;
  height: 38px;
  max-height: 300px;
}
form textarea::-webkit-scrollbar{
  width: 0;
}
/* Formulario Evaluacion Revisor */
.evaluar-Revisores {
  max-width: 100%;
}
.evaluar__BotonContenedor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.evaluar__Formulario{
  border: 2px var(--color-primario) solid;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.evaluar__Formulario form label{
  display: block; 
  margin-bottom: 5px;
}
.evaluar__Formulario form select{
  width: 300px;
  font-family: inherit;
  padding: 8px; 
  border: 1px var(--color-primario) solid;
  border-radius: 5px; 
}
.evaluar__Formulario form select option{
  padding: 5px;
}
.evaluar__Formulario form select:focus {
  outline: none; 
}
.evaluar__Formulario .cuenta__Nombre{
  width: 100%;
  border-bottom: 1px var(--color-primario) solid; 
}
/* Formulario Veredicto final */
#formulario-evaluacion, #respuestas-evaluacion {
  display: none; 
}
/* Boton para confirmar */
.btn-formulario-gral{
  background-color: var(--color-primario);
  cursor: pointer;
  color: var(--color-blanco);
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.2s linear;
  font-family: inherit;
  width: 200px;
  margin: auto;
}
.btn-formulario-gral:hover{
  background-color: var(--color-terciario);
}
/* Boton para cancelar */
.btn-formulario-cancelar{
  background-color: var(--color-secundario);
  cursor: pointer;
  color: var(--color-blanco);
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.2s linear;
  font-family: inherit;
}
.btn-acciones-gral{
  background-color: var(--color-secundario);
  color: var(--color-blanco);
  padding: 4px 6px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.2s linear;
  font-family: inherit;
  text-decoration: none;
  width: 200px;
  font-size: 13.3333px;
}
.btn-acciones-gral:hover{
  background-color: var(--color-primario);
}